<%= form_with(model: @job, local: true) do |form| %>
    <div class="field_with_errors">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
  
    <div class="field_with_errors">
      <%= form.label :description %>
      <%= form.text_area :description, size: '60x4' %>
    </div>

    <div>
      <%= form.label :Long_description %>
      <%= form.text_area :long_description, size: '60x20' %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>