<div class="prose"> 
<h1>Open Jobs</h1>

<p>Welcome to our Job board.  It is completely
free, you can find a job or offer a job here.</p>

</div>

<div class="sidebar">
    <div class="box">
        <h2 class="box-header">Actions</h2>
        <ul class="box-menu">
            <li><a <%= link_to "Add Job", new_job_path%></a></li>
        </ul>
    </div>
    <div class="box">
        <h2 class="box-header">Jobs Overview</h2>
        <ul class="box-menu">
            <% @jobs.each do |job| %>
                <li><a <%= link_to job.title, job_path(job)%></a></li>
            <% end %>
        </ul>
    </div>
</div>

<div class="prose"> 
<h2>Jobs</h2>

<% @jobs.each do |job| %>
        <h3><%= job.title %></h3>
        <p><%= job.description %></p>
        <p>
            <a> <%= link_to "View Full Posting", job_path(job)%></a>
        </p>
  <% end %>
  </div>


