<div class="prose"> 
    <h1><%= @job.title %></h1>
    <p><%= @job.description %></p>
</div>

<div class="sidebar">
    <div class="box">
        <h2 class="box-header">Actions</h2>
        <ul class="box-menu">
            <li><a href="">Apply for this Job</a></li>
            <li><a <%= link_to "Edit Posting", edit_job_path(@job)%> </a></li>
            <li><a <%= link_to "Delete Posting", @job, method: :delete %> </a> </li> 
        </ul>
    </div>
    <div class="box">
        <h2 class="box-header">Related Jobs</h2>
        <ul class="box-menu">
            <li><a href="#">Database Developer</a></li>
            <li><a href="#">Frontend Developer</a></li>
            <li><a href="#">UI/UX Designer</a></li>
        </ul>
    </div>
</div>

<div class="prose"> 
    <%= @job.long_description %>

    <p>
        <a <%= link_to "Back to Jobs List", jobs_path%></a>
    </p>
    <h3> <%= button_to "Delete Posting", @job, method: :delete %> </h3>
</div>