<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JobBoard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <div class="controls">
      <div class="controls-inner">
        <a <%= link_to "Home", jobs_path %></a>
      </div>
    </div>

    <div class='container'>
      <div class="prose"> 
        <h1>Open Jobs</h1>

        <p>Welcome to our Job board.  It is completely
        free, you can find a job or offer a job here.</p>

      </div>
      <%= yield %>
    </div>
  </body>
  <%= render "footer" %>
</html>